* {
  font-family: "Montserrat", sans-serif;
}
.Solution{
    color: #000000;
}
button {
  margin: 1em;
}
Link {
  text-decoration: none;
}
button {
  text-decoration: none;
}
/* p{
    font-weight: bolder;
} */
